
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="btn-add" class="btn btn-success" title="Create New">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                Create New
            </button>
        </div>
        <div class="panel-body">
            <div id="table-list">
                @*<div class="progress progress-striped active" style="margin-bottom:0"><div class="progress-bar"style="width:100%"/></div>*@
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-lg-12">

        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <div id="table-list">Loading...</div>
        </div>
    </div>*@

<div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                </div>
                <div class="modal-body panel-body">
                    <p>Modal body text goes here.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">

            var progHtml = '<div class="progress progress-striped active" style="margin-bottom:0"><div class="progress-bar"style="width:100%"/></div>';

        $(document).ready(function(){
            ShowList();
        })

        function ShowList() {
            $("#table-list").html(progHtml);
            $.ajax({
                url: '@Url.Action("List","Crew")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        }
        $("#btn-add").click(function () {
            $.ajax({
                url: '@Url.Action("Create","Crew")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Add Crew")
                    $("#modal-form").modal("show");
                }
            });

            //alert($("#toggle1").is(":checked"));
        });
        //$('#btn-tgl').click(function () {
        //    $('.toggle').toggleClass('btn-info btn-default');
        //});
    </script>
}




